h1 {
    font-size: 40px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 25px;
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Arial, sans-serif;
}

p {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
